
# Created by https://www.gitignore.io/api/python.jupyternotebooks
# Edit at https://www.gitignore.io/?templates=python.jupyternotebooks

#!! ERROR: python.jupyternotebooks is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/python.jupyternotebooks
